.counter {
    padding: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}

.maxValue {
    color: #bb4545;
}

.message {
    height: 107px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}

.error {
    color: #bb4545;
}